[Desktop Entry]
Type=Application
Name=roqtune
Comment=Configurable desktop music player
Exec=roqtune
Icon=io.github.alexzah.roqtune
Terminal=false
Categories=AudioVideo;Audio;Player;
Keywords=music;audio;player;tracks;playlist;library;
StartupNotify=true
